.hidden{
    visibility:hidden;
}

.gray{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.vhidden{
    visibility: hidden;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 200px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px; /* Set the fixed height of the footer here */
  }

.modal-lg {
    max-width: 90%;
}