.kiln-parent {
    /* width: 100%;
    height: 100%; */
    top: 0;
    left: 0;
    position: relative;
}

.kiln-base{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.kiln-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.gray{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.75;
}