<html>
    <head>
        <title>PyKiln Status</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="static/styles.css">
        <script src="static/scripts.js"></script>
       
    </head>
    <body>
        <div class="tcenter header">
            <img class="logo" height="40px" src="data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJidXJuIiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtYnVybiBmYS13LTEyIiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDM4NCA1MTIiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTE5MiAwQzc5LjcgMTAxLjMgMCAyMjAuOSAwIDMwMC41IDAgNDI1IDc5IDUxMiAxOTIgNTEyczE5Mi04NyAxOTItMjExLjVjMC03OS45LTgwLjItMTk5LjYtMTkyLTMwMC41em0wIDQ0OGMtNTYuNSAwLTk2LTM5LTk2LTk0LjggMC0xMy41IDQuNi02MS41IDk2LTE2MS4yIDkxLjQgOTkuNyA5NiAxNDcuNyA5NiAxNjEuMiAwIDU1LjgtMzkuNSA5NC44LTk2IDk0Ljh6Ij48L3BhdGg+PC9zdmc+"/>
            <h1>PyKiln Setup</h1>
        </div>
        
        <table id="wifi-form" class="center">
            <tr><td>WiFi Connection</td><td></td></tr>
            <tr><td>Network Name:<span class="req">*</span></td>
                
            <td><input id="wifi" class="fill" type="text" autocomplete="off" placeholder="Your WiFi SSID"></td></tr>
            <tr><td>Password:<span class="req">*</span></td>
            <td><input id="password" class="fill" type="password" autocomplete="off" placeholder="Your WiFi Password, leave blank if your network doesn't have a password."></td></td></tr>
            <tr><td>Host URL:</td>
                <td><input id="host" class="fill" type="text" autocomplete="off" placeholder="Leave blank, only used for self hosted web server."></td></td></tr>
            <tr><td></td><td><button disabled id="configBtn" onclick="ConfigureWifi()" class="fill">Submit</button></td></td></tr>
        </table>

        <!-- <table id="wifi-complete" class="center d-none">
            <tr><td>Connecting to Wifi</td><td></td></tr>
            <tr><td>Reconnect to your network</td><td></td></tr>
        </table> -->

        <div id="wifi-connect" class="content d-none">
            <h2 class="tcenter">Connecting to WiFi Network</h2>
            <b><p class="tcenter">Do not close this page.</p></b>
            <p>You will be disconnected from the PyKiln network so it can get an IP address on your WiFi network.</p>
            <p>Please reconnect to the PyKiln Setup network and the IP address of your PyKiln will be displayed on this page.</p>
        </div>

        <div id="wifi-complete" class="content tcenter d-none">
            <h2>Connected!</h2>
            <b><p>IP Address:</p></b>
            <h2><a href="#" id="new-ip">127.0.0.1</a></h2>
            <p>Write this IP down.</p>
            <p>You will need it to connect to your kiln.</p>
        </div>

        <table id="wifi-bad" class="center d-none">
            <tr><td>Connection Error</td><td></td></tr>
            <tr><td>Please re-enter the network name and password.</td><td></td></tr>
        </table>

        <div class="tcenter"><p>PyKiln is an open source project, use at your own risk.</p></div>
        <script>ConfigurePage();</script>
    </body>
</html>