<html>
    <head>
        <title>PyKiln Status</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <style>
            h1   {font-weight: 600; display:inline;}
            body {background-color: #fafafa; color: #222; font-family: Arial, Helvetica, sans-serif; margin-bottom: 300px;}

            table{border-collapse:collapse; width: 75%; box-shadow: 2px 5px 5px rgba(0,0,0,0.3); margin: 0 auto 30px auto;}
            td{padding:16px; width:1%; white-space: nowrap;}
            
            tr{background: #fbfbfb;}
            tr:nth-child(odd){background: #fbfbfb;}
            tr:nth-child(even){background: #fff;}
            tr:first-child{background:#6d7ae0; color:#fff; font-weight: 600; width:1%; white-space: nowrap;}

            td:nth-child(1) {padding-left: 20px; font-weight: 600;}
            td:nth-child(0) {width:1%; white-space: nowrap;}
            td:last-child {padding-right: 20px; width: initial;}
            
            .tcenter{text-align: center;}
            .state{border-radius: 8px; color:#fff; background:#19b63a; font-weight: 600; padding:5px}
            .bad{background:#be1723;}
            .logo{margin: -23px 0 -7px 0;}
            .header{padding:20px;}
            .btn{padding: 10px;}
        </style>

        <script>
        function Post(self, url){
            var row = self.parentElement.parentElement;
            console.log(row.childElementCount);
            row.childNodes[1].childNodes[0].innerText = "IT WORKED!";
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    if(row.childElementCount == 3){row.childNodes[1].childNodes[0].innerText = this.responseText;}
                }
            };
            xhttp.open("POST", url, true);
            xhttp.send();
        }

        function GetStatus(url){
            var xhttp = new XMLHttpRequest();
            
            // xhttp.open("GET", url, false);
            // xhttp.send();
            // var data = JSON.parse(xhttp.responseText);
            
            // return xhttp.responseText;
            var data = {
                "state":"Idle",
                "system":{
                    "name":"My Cool PyKiln",
                    "version":"0.1",
                    "wifiNetwork":"My awesome WiFi",
                    "ip":"127.0.0.1",
                    "timezone":"Eastern",
                    "uptime":"1:00",
                    "connection":"Offline",
                    "filespace":"3.0 Mb",
                },
                "electrical":{
                    "volts":"120",
                    "current":"2.0 amps"
                },
                "temperature":{
                    "units":"Fahrenheit",
                    "sensor1":"72*F",
                    "sensor2":"72*F",
                    "sensor3":"72*F",
                    "sensor4":"72*F",
                },
                "relays":{
                    "contactor":"OK",
                    "relay1":"OK",
                    "relay2":"OK",
                    "relay3":"OK",
                    "relay4":"OK",
                    "relay5":"OK",
                    "relay6":"OK"
                }
            };

            var good = ["OK", "Online"];
            var warning = ["Delayed"];
            var bad = ["Not Connected", "Offline"];

            Object.keys(data).forEach(sectionName => {
                // Update the State table
                if(sectionName == "state"){
                    document.getElementById("state").innerText = data["state"];
                    if(data["state"] == "Idle"){
                        // Enable test buttons if the kiln isn't running
                        var testButtons = document.getElementsByClassName("t-btn");
                        for(var b = 0; b < testButtons.length; b++){
                            console.log(testButtons[b]);
                            testButtons[b].disabled = false;
                        }
                    }
                    return;
                }

                // Get Section and Add Table Header
                var section = document.getElementById(sectionName);
                var threeColumn = sectionName == "relays" ? "<td></td>" : "";
                var html = "<tr><td>" + sectionName[0].toUpperCase() + sectionName.slice(1) + "</td><td></td>" + threeColumn + "</tr>";

                for(var i = 0; i < Object.keys(data[sectionName]).length; i++){
                    // insert row label into table
                    var key = Object.keys(data[sectionName])[i];
                    // Format the label
                    var keyLabel = ""; 
                    for(var p = 0; p < key.length; p++){
                        if(key[p] == key[p].toUpperCase()){keyLabel += " ";}
                        if(p == 0){keyLabel += key[p].toUpperCase();}
                        else{keyLabel += key[p];}
                        if(p == key.length - 1){keyLabel += ":";}
                    }
                    // insert value into table
                    var value = data[sectionName][Object.keys(data[sectionName])[i]];
                    // Format certain keywords
                    if(good.indexOf(value) != -1){value = '<span class="state">' + value + '</span>';}
                    if(warning.indexOf(value) != -1){value = '<span class="state bad">' + value + '</span>';}
                    if(bad.indexOf(value) != -1){value = '<span class="state bad">' + value + '</span>';}

                    var relayHtml = "";
                    if(sectionName == "relays"){relayHtml = '<td><button onclick="' + "Post(this, '/api/relay" + i + "')" + '" class="btn">Test</button></td>';}
                    
                    html += "<tr><td>" + keyLabel + "</td><td>" + value + "</td>" + relayHtml + "</tr>";
                }

                if(sectionName == "system"){html += "<tr><td></td><td><button onclick='Post(this, '/api/reboot')' class='btn'>Reboot</button></td></tr>";}
                else if(sectionName == "electrical"){html += "<tr><td></td><td><button onclick='Post(this, '/api/temperature')' class='btn'>Update</button></td></tr>";}
                else if(sectionName == "temperature"){html += "<tr><td></td><td><button onclick='Post(this, '/api/temperature')' class='btn'>Update All</button></td></tr>";}

                section.innerHTML = html;
            });
        }
        </script>
    </head>
    <body>
        <div class="tcenter header">
            <img class="logo" height="40px" src="data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJidXJuIiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtYnVybiBmYS13LTEyIiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDM4NCA1MTIiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTE5MiAwQzc5LjcgMTAxLjMgMCAyMjAuOSAwIDMwMC41IDAgNDI1IDc5IDUxMiAxOTIgNTEyczE5Mi04NyAxOTItMjExLjVjMC03OS45LTgwLjItMTk5LjYtMTkyLTMwMC41em0wIDQ0OGMtNTYuNSAwLTk2LTM5LTk2LTk0LjggMC0xMy41IDQuNi02MS41IDk2LTE2MS4yIDkxLjQgOTkuNyA5NiAxNDcuNyA5NiAxNjEuMiAwIDU1LjgtMzkuNSA5NC44LTk2IDk0Ljh6Ij48L3BhdGg+PC9zdmc+"/>
            <h1>PyKiln Status</h1>
        </div>
        <table class="center"><tr><td>State</td></tr><tr><td id="state"></td></tr></table>
        <table id="system" class="center"></table>
        <table id="electrical" class="center"></table>
        <table id="temperature" class="center"></table>
        <table id="relays" class="center"></table>
        <table id="notifications" class="center">
            <tr><td>Notifications</td><td></td></tr>
            <tr><td>Speaker:</td>
            <td><button disabled onclick="Post(this, '/api/speaker')" class="btn t-btn">Test</button></td></tr>
            <tr><td>RGB LED:</td>
            <td><button disabled onclick="Post(this, '/api/led')" class="btn t-btn">Test</button></td></tr>
        </table>
        <div class="tcenter"><p>PyKiln is not a commercial product, use at your own risk.</p></div>
        <script>GetStatus();</script>
    </body>
</html>