[v-cloak]{
    display: none;
}

.temp-icon {
    top: 2px;
    position: relative;
}

.temp-padding {
    padding: 4px 8px;
}

.schedule-label {
    font-size: .5em;
    line-height: 1.1em;
    text-align: center;
}

.cone-row,
.cone-row td {
    padding: 0;
    font-size: .9em;
    font-weight: 600;
}

.cone-row th {
    font-size: .4em;
}

.schdule-name {
    font-size: 1.25em;
}

.segments:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05)
}

.w-66 {
    width: 66% !important;
}

.w-34 {
    width: 34% !important;
}

.w-15 {
    width: 15% !important;
}

.w-70 {
    width: 70% !important;
}

.w-20 {
    width: 20% !important;
}

.w-60 {
    width: 60% !important;
}

.w-10 {
    width: 10% !important;
}

.w-90 {
    width: 90% !important;
}

.bg-white {
    background-color: #FFF;
}

.btn-mobile {
    width: 100%;
}

@media (min-width: 768px) {
    .btn-mobile {
        width: auto;
    }
}

.bmd-form-group {
    padding-top: 0px !important;
}

/* Overwrite material-kit css */
.form-control:disabled, .form-control[readonly]{
    /* background-color:inherit; */
    background-color: rgba(0,0,0,0.02);
}

.progress{
    height: 1rem;
}

.handle-spacer{
    width: 28px;
    height: 32px;
}

.delete-spacer{
    width: 28px;
    height: 16px;
}

.togglebutton label, label{
    color: rgba(0, 0, 0, 0.6);
}

.zonelabel{
    margin:0.5em
}


.kilnsettings{
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
  justify-content: center;
}

.kilnicons-base{
    max-height: 350px;
}

.kilnicons{
    width: 100%;
    position: absolute;
    max-height: 350px;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}